/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";




.navbar{
  max-height: 75px;
}

.jumbotron{
  max-height: 500px !important; 
}

.dark{
  color: white;
  background-color: black;
}

.bi{
  font-size: 8rem;
}

.one{
  float:right; 
  margin-right: 100px;
}
.two{
  margin-left: 100px;
}
.three{
  text-align: center;
  margin-left: 350px;
  
}
.image1{
  max-width: 400px !important;
}