/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";




.navbar{
  max-height: 75px;
  max-width: 100%;
}

.jumbotron{
  max-height: 500px !important; 
}

.dark{
  color: white;
  background-color: black;
}

.bi{
  font-size: 8rem;
}

.my-container {
  display: flex;
  justify-content: center;
}

.btn-purple{
  background-color: purple;
}

.greyness{
  background-color: lightgrey;
}

.container-full{
  width: 100%;
}

.test{
  width: 100%;
}

.min{
  max-width: 25%;
}

@media all and (min-width: 576px) {

  .min{
    width: 100%;
  }

  .test{
    width: 100%;
  }
}
.navbar-brand img {
  max-height: 80px;
  width: auto;
}

